#modal-window.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
%h1 QR Code Reader Demo
= link_to 'New Scan', new_qr_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}

