-if obj.errors.any?
  .alert.alert-danger.alert-dismissable{role: "alert"}
    %button.close{type: "button", data: {dismiss: "alert"} }
      %span{aria: {hidden: "true"} } &times;
      %span.sr-only Close
    %h4
      = pluralize(obj.errors.count, "error")
      prohibited this record from being saved:
    %ul
      - obj.errors.full_messages.each do |msg|
        %li= msg