<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>©<%=Date.today.year %> Adam Johnson</span>
    </div>
  </div>
</footer>
